<ion-content [fullscreen]="true">
  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-card>
          <ion-card-header>
            <ion-card-title class="ion-text-center">
              Modificar nota
            </ion-card-title>
            <ion-card-subtitle>
              Ingrese datos nuevos:
            </ion-card-subtitle>
          </ion-card-header>

          <ion-card-content>
            <ion-grid>
              <ion-row>
                <ion-col>
                  <ion-item>
                    <ion-label position="floating">Nuevo titulo</ion-label>
                    <ion-input 
                      type="text"
                      [(ngModel)]="titulo"
                      ngDefaultControl
                    ></ion-input>
                  </ion-item>
                </ion-col>
              </ion-row>

              <ion-row>
                <ion-col>
                  <ion-item>
                    <ion-label position="floating">Nueva descripcion</ion-label>
                    <ion-input 
                      type="text"
                      [(ngModel)]="descripcion"
                      ngDefaultControl
                    ></ion-input>
                  </ion-item>
                </ion-col>
              </ion-row>

              <!-- <ion-item>
                <ion-label>Estado</ion-label>
                <ion-select placeholder="seleciona una">
                  <ion-select-option value="a">Activo</ion-select-option>
                  <ion-select-option value="b">Vencida</ion-select-option>
                  <ion-select-option value="c">Cumplida</ion-select-option>
                </ion-select>
              </ion-item> -->


              <ion-row>
                <ion-col>
                  <ion-item>
                    <ion-label position="floating">Nueva fecha vencimiento</ion-label>
                    <ion-input 
                      type="date"
                      displayFormat="DD/MM/YYYY" 
                      [(ngModel)]="fechaVencimiento" 
                      ngDefaultControl>
                    </ion-input>
                  </ion-item>
                </ion-col>
              </ion-row>

              <ion-row>
                <ion-col>
                  <ion-button expand="block" (click)="notaModificada()">Aceptar cambios</ion-button>
                  <ion-button expand="block" routerLink="/notas">Volver</ion-button>
                </ion-col>
              </ion-row>

            </ion-grid>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>